/* -------------- */
/* custom COLORS */
/* -------------- */

.blk,
i.blk {
    color: #111;
}

.wht,
i.wht {
    color: #fff;
}

.section-header.noDecor:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -24px;
    width: 0px;
    height: 2px;
    margin-left: -70px;
}

.panel-heading {
    font-size: 16px;
    position: relative;
    border: 0;
    text-transform: none;
    font-weight: 700;
}
